<div style="text-align: center;">
        <ul class="pagination pagination-sm">

            <li ng-class="{true:'disabled'}[pageObject.currentPage==1]">
                <a ng-click="showFirstPage(1)">&laquo;</a>
            </li>

            <li ng-class="{true:'disabled'}[pageObject.currentPage==1]">
                <a  ng-click="upPageClick(pageObject.currentPage-1)">&lsaquo;</a>
            </li>

            <li ng-repeat="page in pageObject.pages" ng-class="{true:'active',false:'inactive'}[pageObject.currentPage==page]">
                <a  ng-click="showCurrentPage(page)">{{page}}</a>
            </li>

            <li ng-class="{true:'disabled'}[pageObject.currentPage==pageObject.totalPage]">
                <a ng-click="downPageClick(pageObject.currentPage+1)">&rsaquo;</a>
            </li>

            <li ng-class="{true:'disabled'}[pageObject.currentPage==pageObject.totalPage]">
                <a ng-click="showLastPage(pageObject.totalPage)">&raquo;</a>
            </li>

        </ul>
</div>