body{ font-family:"微软雅黑",Tahoma,Arial,"宋体",sans-serif; margin:0; padding:0; background:#fff;}
ul,li,ol{ list-style:none;}
div,p,ul,li,ol,dl,h1,h2,h3,h4,h5,img,pre,input{margin:0; padding:0;}
em,i{font-style:normal;}
strong{font-weight:normal;}
img{border:none; vertical-align:middle;}
.clear{float:none!important; clear:both!important; margin:0; padding:0;}
a{text-decoration:none;}
a:hover{text-decoration: none;color:#0e90d2}
a:link{text-decoration:none;}
a:visited{text-decoration:none;}
a:hover{text-decoration:underline;}
/*轮播图*/
.banner-wrap{position: relative;}

#myCarousel .carousel-inner {border:none;}

#myCarousel .carousel-indicators li {margin-left: 5px;}

#myCarousel .carousel-inner .item img {width: 100%;height: 662px;}

/*网站基本信息*/
.home-haeder{
    width:100%;
    height:662px;
    position:absolute;
    top:0px;
    background-color: rgba(19,17,17,0.5);
}
.home-title{
    width:100%;
    margin-top:230px;
    color:rgba(255,255,255,0.9);
    font-size:50px;
    text-align: center;
    font-family: "Arial Rounded MT Bold";
    font-weight: 500;
}
.home-tro{
    width:100%;
    margin-top:50px;
    color:rgba(255,255,255,0.9);
    font-size:17px;
    text-align: center;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.home-btn{
    width:25%;
    padding-top:80px;
    margin:0 auto;
 }
.home-btn a{
    color:rgba(255,255,255,0.9);
    text-decoration: none;
}
.home-btn a:hover{
    color:rgba(255,255,255,0.9);
    text-decoration: none;
}
.home-btn a:active{
    color:rgba(255,255,255,0.95);
    text-decoration: none;
}
.home-btn  .btn{
     width:100px;
     height:40px;
     border:0px;
     border-radius:100px;
     background-color: rgba(255,255,255,0.1);
     color:rgba(255,255,255,0.9);
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 }
 .login{
     width:150px;
     height:50px;
     float:left;
 }
 .register{
     width:150px;
     height:50px;
     float:right;
 }

/*nav*/
#nav-content{
    width:100%;
    height:100px;
}
.anchor_layer{
    width: 100%;
}
.anchor_layer .nav_wrap {
    width: 100%;
    height: 95px;
    /*border-radius: 45px;*/
    /*background-color: #535353;*/
    padding-top:20px;
    overflow: hidden;
    margin: 0 auto 40px;
    behavior: url(pie.htc);
}
.anchor_layer .nav_wrap.navFix {
    width:100%;
    height:100px;
    background-color: rgb(36, 41, 44);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    min-width: 100%;
    border-radius: 0;
    z-index: 9999;
}
.anchor_layer .nav_wrap .wrap_layer {
    width: 80%;
    height: 65px;
    margin: 0 auto;
    padding: 0 10px;
}
.anchor_layer .nav_wrap .wrap_tab {
    width: 25%;
    height: 65px;
    float: left;
    border-left:1px dashed #999;
}
.last_wrap_tab{
    border-right:1px dashed #999;
}
.anchor_layer .nav_wrap a {
    width: 100%;
    height: 65px;
    font-size:18px;
    /*border-radius: 45px;*/
    display: block;
    color: #666666;
    line-height: 65px;
    text-align: center;
    behavior: url(pie.htc);
}
.anchor_layer .nav_wrap .active,
.details_main .anchor_layer .nav_wrap a:hover {
    /*background-color: #3366cc;*/
    behavior: url(pie.htc);
}


#main-content{
    width:100%;
    height:auto;
    background-color:rgba(118, 114, 114,0.05);
}
.futures_bg{
    position:absolute;
    z-index:1;
    top:500px;
    left:-200px;
    opacity: 0.1;
    width:1300px !important;
 }
.main-wrap{
    position:absolute;
    z-index:999;
}
/*影视分享*/
.film-content{
    width:1180px;
    height:auto;
    margin:0 auto;
    padding-top:40px;
    z-index: 9999;
    margin-left:125px;
}
.film-title{
    width:1180px;
    font-size:28px;
    font-family: Arial;
    color:black;
    text-align: center;
    margin-bottom:30px;
    padding-top:30px;
}
.film-wrap{
    width:1180px;
    height:auto;
    overflow:hidden
}
.film-box{
    width:300px;
    /*height:389px;*/
    height:auto;
    overflow:hidden;
    /*margin-left:0px;*/
    margin-bottom:35px;
    float:left;
    margin-left:45px;
    border-left:0.5px solid #cdcdcd;
    border-right:0.5px solid #cdcdcd;
    -moz-box-shadow: 0px 5px 2.5px #cdcdcd; /* 老的 Firefox */
    box-shadow: 0px 5px 2.5px #cdcdcd;
}
.left{
    margin-left:45px;
    float:left;
}
.film-box-img{
    width:250px;
    height:350.453px;
    background-color:#dddddd;
    padding-top:10px;
    margin:0 auto;
}
.film-box-img a img{
    max-width:100%;
    height:auto;
    vertical-align: middle;
    text-align: center;
}
.film-box-word{
    width:336px;
    padding-top:15px;
    margin:0 auto;
    overflow: hidden;
    padding-bottom:15px;
}
.film-box-word a:hover{
    text-decoration: none;
}
.film-box-word a:link{
    text-decoration: none;
}
.film-box-word a:visited{
    text-decoration: none;
}
.film-box-word a .film-box-word-name{
    font-size:17px;
    color:black;
    margin-left:20px;
    folot:left;
}
.film-box-word-grade{
    font-size:17px;
    color:black;
    margin-left:35px;
    folot:left;
}

/*热门话题*/
.forum-content{
    width:1080px;
    height:auto;
    margin:0 auto;
    padding-top:50px;
    padding-bottom:70px;
    overflow: hidden;
    z-index: 9999;
    margin-left:125px;
}

.forum-content a{
    text-decoration: none;
}

.forum-title{
    width:1080px;
    font-size:28px;
    font-family: Arial;
    color:black;
    text-align: center;
    margin-bottom:30px;
    padding-top:30px;
}
.forum-wrap{
    width:1080px;
    height:auto;
    overflow:hidden
}
.forum-box{
    width:485px;
    height:260px;
    overflow:hidden;
    margin-left:50px;
    margin-bottom:40px;
    float:left;
    border-left:0.5px solid #cdcdcd;
    border-right:0.5px solid #cdcdcd;
    -moz-box-shadow: 0px 5px 2.5px #cdcdcd; /* 老的 Firefox */
    box-shadow: 0px 5px 2.5px #cdcdcd;
}
.forum-box a:hover{
    text-decoration: none;
}
.forum-box a:link{
    text-decoration: none;
}
.forum-box a:visited{
    text-decoration: none;
}
.forum-left{
    /*margin-left:50px;*/
    float:right;
}
.forum-box a .forum-box-title{
    margin-left:35px;
    color:black;
    font-size:18px;
    font-family: Arial;
}
.forum-box a .forum-box-content{
    width:93%;
    height:200px;
    padding-top:13px;
    padding-bottom:15px;
    margin:0 auto;
    color:black;
    font-size:16px;
    font-family: Arial;
}
.forum-funs{
    width:80px;
    height:20px;
    margin-bottom:15px;
    margin-left:15px;
    float:left;
}
.forum-icon{
    margin-left:0px;
    float:left;
}
.forum-count{
    margin-left:0px;
    float:left;
    font-size:16px;
    color:black;
}
forum-comment{
    width:80px;
    height:20px;
    float:left;
}

/*底部*/
.footer-content{
    width:100%;
    height:150px;
    margin-top:1780px;
    background-color: #2c2c2c;
    font-size:16px;
    color:#fff;
    text-align: center;
    line-height: 150px;
}