<div ng-controller="PostMgmtCtrl">
    <div class="wrapper-md bg-light b-b">
        <h1 class="m-n font-thin h3">发帖管理</h1>
    </div>
    <div class="wrapper-md ng-scope">
        <toaster-container></toaster-container>
        <div class="panel panel-default">
            <div class="row wrapper">
                <div class="col-sm-10">
                </div>
                <div class="input-group col-sm-2" style="right: 1%">
                    <input id="_keyword" type="text" class="form-control input-sm w-sm inline m-r" ng-model="keyword"
                           placeholder="输入搜索关键词"/> <span class="input-group-btn">
                            <button id="searchBtn" class="btn m-b-xs btn-sm btn-primary btn-addon"
                                    ng-click="loadData()">搜索</button>
                    </span>
                </div>
            </div>
            <div>
                <!-- 表格 -->
                <table class="table table-striped b-t m-b-none">
                    <thead>
                    <tr>
                        <th></th>
                        <th>标题</th>
                        <th>话题</th>
                        <th>内容</th>
                        <th>点赞数</th>
                        <th>评论数</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <div id='content'>
                        <!-- ngRepeat: nav in items -->
                        <tr ng-repeat="item in postPageObject.currentPageList">
                            <td class="ng-binding"><input type="checkbox"></td>
                            <td class="ng-binding">{{item.title}}</td>
                            <td class="ng-binding">{{item.topic}}</td>
                            <td class="ng-binding">{{item.content | cut:true:60:' ...' }}</td>
                            <td class="ng-binding">{{item.agreeNum}}</td>
                            <td class="ng-binding">{{item.commentNum}}</td>
                            <td>
                                <button class="btn btn-success m-b-xs btn-sm" ng-click="detail(item)">
                                    <i class="m-r-xs fa fa-pencil fa-fw"></i>查看
                                </button>
                                <button class="btn btn-danger m-b-xs btn-sm" ng-click="remove(item)">
                                    <i class="m-r-xs fa fa-times fa-fw"></i>删除
                                </button>
                            </td>
                        </tr>
                    </div>
                    </tbody>
                </table>
                <!-- 分页控件 -->
                <div my-pagination page-object="postPageObject"></div>
                <!-- 分页控件 -->
            </div>
        </div>
    </div>
</div>