<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="    
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd  
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd  
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
            http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.2.xsd  
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">
	<!-- 类似于财务部门一样，类就是钱，所有需要类的实例都由srping去管理, pojo除外 -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="configLocation" value="classpath:hibernate.cfg.xml">
		</property>
		<property name="mappingResources">  
            <list>  
                <value>com/onetoone/ssh/entity/User.hbm.xml</value>  
            </list>  
        </property>
	</bean>
	<bean id="hibernateTemplete" class="org.springframework.orm.hibernate5.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<!-- dao bean -->
	<bean id="userdao" class="com.onetoone.ssh.dao.UserDao" scope="prototype">	
	</bean>
	<bean id="posttiedao" class="com.onetoone.ssh.dao.PostTieDao" scope="prototype">	
	</bean>
	<bean id="agreeDao" class="com.onetoone.ssh.dao.AgreeDao" scope="prototype"></bean>
	<bean id="commentDao" class="com.onetoone.ssh.dao.CommentDao" scope="prototype"></bean>
	<bean id="filmDao" class="com.onetoone.ssh.dao.FilmDao" scope="prototype"></bean>
	<bean id="replyDao" class="com.onetoone.ssh.dao.ReplyDao" scope="prototype"></bean>
	<bean id="scoreDao" class="com.onetoone.ssh.dao.ScoreDao" scope="prototype"></bean>
	<bean id="tieDao" class="com.onetoone.ssh.dao.TieDao" scope="prototype"></bean>
		
	<!-- manager bean -->
    <bean id="agreemanager" class="com.onetoone.ssh.serviceImpl.AgreeManagerImpl" scope="prototype"> 
		<property name="agreeDao">
			<ref bean="agreeDao"/>
		</property> 
    </bean>
    <bean id="commentmanager" class="com.onetoone.ssh.serviceImpl.CommentManagerImpl" scope="prototype"> 
		<property name="commentDao">
			<ref bean="commentDao"/>
		</property> 
    </bean>
    <bean id="filmmanager" class="com.onetoone.ssh.serviceImpl.FilmManagerImpl" scope="prototype"> 
		<property name="filmDao">
			<ref bean="filmDao"/>
		</property> 
    </bean>
    <bean id="replymanager" class="com.onetoone.ssh.serviceImpl.ReplyManagerImpl" scope="prototype"> 
		<property name="replyDao">
			<ref bean="replyDao"/>
		</property> 
    </bean>
    <bean id="scoremanager" class="com.onetoone.ssh.serviceImpl.ScoreManagerImpl" scope="prototype"> 
		<property name="scoreDao">
			<ref bean="scoreDao"/>
		</property> 
    </bean>
    <bean id="tiemanager" class="com.onetoone.ssh.serviceImpl.TieManagerImpl" scope="prototype"> 
		<property name="tieDao">
			<ref bean="tieDao"/>
		</property> 
    </bean>
    <bean id="posttiemanager" class="com.onetoone.ssh.serviceImpl.PostTieManagerImpl" scope="prototype"> 
		<property name="posttiedao">
			<ref bean="posttiedao"/>
		</property> 
    </bean>
	<bean id="usermanager" class="com.onetoone.ssh.serviceImpl.UserManagerImpl" scope="prototype"> 
		<property name="userdao">
			<ref bean="userdao"/>
		</property> 
    </bean>
    
    <!-- Form Bean -->
    <!-- <bean id="userForm" class="com.onetoone.ssh.form.UserForm" scope="prototype">
		<property name="username" value=""></property>
		<property name="password" value=""></property>
		<property name="confirm" value=""></property>
	</bean> -->
	
    <!-- Action Bean -->
	<bean id="myTestAction" class="com.onetoone.ssh.action.TestAction" scope="prototype">
		<!-- <property name="usermanager">  
            <ref bean="usermanager" />  
        </property> -->
        <property name="filmmanager">  
            <ref bean="filmmanager" />  
        </property>
        <property name="posttiemanager">  
            <ref bean="posttiemanager" />  
        </property>
	</bean>
	<bean id="loginAction" class="com.onetoone.ssh.action.LoginAction" scope="prototype">
		<property name="usermanager">
			<ref bean="usermanager" />
		</property>
	</bean>
	<bean id="registerAction" class="com.onetoone.ssh.action.RegisterAction" scope="prototype">
		<!-- <property name="userform">
			<ref bean="userForm"/>
		</property> -->
		<property name="usermanager">
			<ref bean="usermanager" />
		</property>
	</bean>
	
	<bean id="myselfAction" class="com.onetoone.ssh.action.MyselfAction" scope="prototype"></bean>
	<!-- 影视列表 -->
	<bean id="FilmListAction" class="com.onetoone.ssh.action.FilmListAction" scope="prototype">
	</bean>
	<!-- 影视详情 -->
	<bean id="FilmDetailAction" class="com.onetoone.ssh.action.FilmDetailAction" scope="prototype"></bean>
	<!-- 帖子详情 -->
	<bean id="NoteDetailAction" class="com.onetoone.ssh.action.NoteDetailAction" scope="prototype">
		<property name="commentmanager">
			<ref bean="commentmanager" />
		</property>
		<property name="replymanager">
			<ref bean="replymanager" />
		</property>
	</bean>
	<bean id="communicationAction" class="com.onetoone.ssh.action.CommunicationAction" scope="prototype">
		<property name="manager">
			<ref bean="posttiemanager" />
		</property>
		<property name="usermanager">
			<ref bean="usermanager" />
		</property>
	</bean>
</beans>