<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="    
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd  
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd  
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
            http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.2.xsd  
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">
	<!-- 类似于财务部门一样，类就是钱，所有需要类的实例都由srping去管理, pojo除外 -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="configLocation" value="classpath:hibernate.cfg.xml">
		</property>
		<property name="mappingResources">  
            <list>  
                <value>com/onetoone/ssh/entity/User.hbm.xml</value>  
            </list>  
        </property>
	</bean>
	<bean id="hibernateTemplete" class="org.springframework.orm.hibernate5.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="userdao" class="com.onetoone.ssh.dao.UserDao">	
	</bean>
	<bean id="usermanager" class="com.onetoone.ssh.serviceImpl.UserManagerImpl"> 
		<property name="userdao">
			<ref bean="userdao"/>
		</property> 
    </bean>
	<bean id="myTestAction" class="com.onetoone.ssh.action.TestAction" scope="prototype">
		<property name="usermanager">  
            <ref bean="usermanager" />  
        </property>
	</bean>
</beans>