<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory name="foo">
        <!-- 配置mySql连接参数 -->
         <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
         <property name="connection.pool_size">5</property>
         <property name="show_sql">true</property>
         <property name="format_sql">true</property>
         <property name="hbm2ddl.auto">update</property>
         
         <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
         <property name="connection.url">jdbc:mysql://localhost:3306/onetoone</property>
         <property name="connection.username">root</property>
         <property name="connection.password">123456</property>

      

         
         <mapping resource="com/onetoone/ssh/entity/User.hbm.xml"/>
         <mapping resource="com/onetoone/ssh/entity/PostTie.hbm.xml"/>
         <mapping resource="com/onetoone/ssh/entity/Agree.hbm.xml"/>
         <mapping resource="com/onetoone/ssh/entity/Comment.hbm.xml"/>
         <mapping resource="com/onetoone/ssh/entity/FilmIntroduction.hbm.xml"/>
         <mapping resource="com/onetoone/ssh/entity/Reply.hbm.xml"/>
         <mapping resource="com/onetoone/ssh/entity/Score.hbm.xml"/>
    </session-factory>
    
</hibernate-configuration>