<div ng-controller="PostMgmtCtrl">
    <div class="wrapper-md bg-light b-b">
        <h1 class="m-n font-thin h3">发帖管理</h1>
    </div>
    <div class="wrapper-md ng-scope">
        <toaster-container></toaster-container>
        <div class="panel panel-default">
            <div class="row wrapper">
                <div class="col-sm-10">
                </div>
                <div class="input-group col-sm-2" style="right: 1%">
                    <input id="_keyword" type="text" class="form-control input-sm w-sm inline m-r" ng-model="keyword"
                           placeholder="输入搜索关键词"/> <span class="input-group-btn">
                            <button id="searchBtn" class="btn m-b-xs btn-sm btn-primary btn-addon"
                                    ng-click="loadData()">搜索</button>
                    </span>
                </div>
            </div>
            <div>
                <!-- 表格 -->
                <table class="table table-striped b-t m-b-none">
                    <thead>
                    <tr>
                        <th></th>
                        <th>头像</th>
                        <th>用户名</th>
                        <th>停用/启用</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <div id='content'>
                        <!-- ngRepeat: nav in items -->
                        <tr ng-repeat="item in users">
                            <td class="ng-binding"><input type="checkbox"></td>
                            <td><img ng-src="../{{item.iconPath}}"
                                     alt="" class="img-thumbnail thumb-xl"></td>
                            <td class="ng-binding">{{item.username}}</td>
                            <td class="ng-binding">
                                <button class="btn m-b-xs btn-sm"
                                        ng-class="item.status == 0 ? 'btn-danger' : 'btn-success'"
                                        ng-click="switchStatus(item)">
                                    <div ng-show="item.status == 0 ? true : false"><i
                                            class="m-r-xs fa fa-unlock-alt fa-fw"></i>停用
                                    </div>
                                    <div ng-show="item.status == 1 ? true : false"><i
                                            class="m-r-xs fa fa-unlock-alt fa-fw"></i>启用
                                    </div>
                                </button>
                            </td>
                            <td>
                                <button class="btn btn-success m-b-xs btn-sm" ng-click="detail(item)">
                                    <i class="m-r-xs fa fa-pencil fa-fw"></i>查看修改
                                </button>
                                <button class="btn btn-danger m-b-xs btn-sm" ng-click="remove(item)">
                                    <i class="m-r-xs fa fa-times fa-fw"></i>删除
                                </button>
                            </td>
                        </tr>
                    </div>
                    </tbody>
                </table>
                <!-- 分页控件 -->
                <div my-pagination page-object="userPageObject"></div>
                <!-- 分页控件 -->
            </div>
        </div>
    </div>
</div>